<section class="content">

    <form novalidate class="content-form">

        <paper-input-decorator label="Your Email"
                               floatingLabel
                               error="Email should be in proper format.">

            <input type="email" is="core-input" required ng-model="forgotPassViewCtrl.email">
        </paper-input-decorator>

        <paper-button raisedButton class="submit-button"
                      ng-click="forgotPassViewCtrl.submit($event)">Remind</paper-button>

    </form>

</section>